* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body
{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    font-size: 0;
    background-color: #f5f5f5
}
#pageBounds
{
    width: 100vw;
    min-height: 100vh;
    max-width: 1200px;
    top: 0;
    display: inline-block;
    overflow-x: hidden;
}
.page_content
{
    position: relative;
    min-height: 700px;
    width: 100%;
    max-width: 1200px;
    display: inline-block;
    text-align: left;
}
#page_bg
{
    position: fixed;
    height: 100vh;
    min-height: 700px;
    width: 100vw;
    max-width: 1200px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-size: contain;
}
.page_content
{
    width: 100%;
    overflow-x: hidden;
}
@media screen and (max-width: 1200px){
    #page_bg
    {
        background-size: cover;
    }
}
.com_rel
{
    position: relative;
    width: 100%;
    height: 100%;
}
.navRibbon {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    display: inline-block;
    max-width: 1200px;
    text-align: left;
    top: 15px;
    left: 0;
    font-size: 0;
    background-color: #212121;
    font-family: rBold, 'sans-serif';
    letter-spacing: 0.5px;
    z-index: 10;
    font-size: 0;
    text-align: center;
}
.navRibbon .navRibbon_item
{
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 13px;
    padding: 10px;
    margin: 0;
    height: 100%;
    width: calc(calc(100% / 5) - 0.5px);
}
.navRibbon_sub_menu
{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 0;
    padding: 0;
    transition-duration: 0.8s;
    opacity: 0;
    background-color: #212121;
    overflow: hidden;
}
.navRibbon_sub_menu .navRibbon_item
{
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.navRibbon_item:hover > .navRibbon_sub_menu
{
    height: auto;
    opacity: 1;
}
.navRibbon .navRibbon_item .navRibbon_item_bg
{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #dedede;
    opacity: 0;
    top: 0;
    left: 0;
    transition-duration: 0.2s;
}
.navRibbon .navRibbon_item .navRibbon_item_text
{
    position: relative;
    color: white;
    padding: 5px 15px;
    display: inline-block;
    transition-duration: 0.2s;
}
.navRibbon .navRibbon_item:hover > .navRibbon_item_bg,
.navRibbon .navRibbon_item.selected > .navRibbon_item_bg
{
    opacity: 1;
}
.navRibbon .navRibbon_item:hover > .navRibbon_item_text,
.navRibbon .navRibbon_item.selected > .navRibbon_item_text
{
    color: #000;
}
#acm_logo
{
    color: #212121;
    font-size: 40px;
    text-align: center;
}
#acm_logo.centerSize
{
    top: 20px;
    line-height: 20px;
}
#bookster_logo.centerSize span.logo_head
{
    font-size: 60px;
}
#cms-footer-area
{
    position: relative;
    width: 100%;
    background-color: #212121; /*#4C3483;*/
}

span#made_footer
{
    font-size: 15px;
    color: white;
    padding: 20px;
    display: inline-block;
}
span#made_footer i
{
    font-size: 15px;
    color: #e31b23;
}

h2
{
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    background-color: #212121;
    padding: 10px 20px;
    color: #dedede;
}
.quote_unquote
{
    background-color: #0099BC;
    padding: 40px;
    font-size: 16px;
    text-align: justify;
    font-weight: bold;
}
.quote_unquote a.quote_from
{
    display: block;
    text-align: right;
    font-size: 12px;
    color: rgba(0,0,0,0.7);
    text-decoration: none;
    font-weight: bold;
}