#team_grid
{
	display: block;
	text-align: left;
}
.person_cont
{
	background-color: #fdfdfd;
	border-radius: 10px;
	display: inline-block;
	box-shadow: 0px 1px 20px 1px rgba(0,0,0,0.1);
	overflow: hidden;
	margin: 10px;
	text-align: center;
}
.person_cont *
{
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
}
.person_cont img
{
	width: 200px;
	margin: 25px 0 18px;
	object-fit: cover;
	display: inline-block;
	overflow: hidden;
}
.person_cont .name
{
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	text-align: center;
	padding: 5px;
	font-size: 15px;
	background-color: #212121;
	color: white;
}
.person_cont .post
{
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	text-align: center;
	padding: 5px;
	background-color: #212121;
	color: white;
}