*
{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

#container
{
  margin: 40px;
  display: inline-block;
  padding: 20px;
  min-width: 840px;
  min-height: 840px;
  position: relative;
}