*
{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

#container
{
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 600px;
  height: 600px;
  overflow: hidden;
}

.maps_container
{
  display: inline-block;
  min-width: 750px;
  min-height: 750px;
  position: relative;
  box-sizing: border-box;
}

table{
  width: 400px;
  display: block;
  margin: auto;
}

table td
{
  width: 200px
}